<form [formGroup]="Formulario" autocomplete="off">
    <mat-card class="carta">
        <mat-card-header>
            <mat-card-title>FORMULARIO</mat-card-title>
        </mat-card-header>

        <mat-card-content class="">
            <mat-form-field for="nombre">
                <input matInput type="text" placeholder="Ingrese su nombre" formControlName="nombre" class="" />
            </mat-form-field>
            <mat-form-field for="apellido">
                <input matInput type="text" placeholder="Ingese su apellido" formControlName="apellido" class="" />
            </mat-form-field>

            <mat-form-field for="email">
                <input matInput type="email" placeholder="Ingrese su Email" formControlName="email" class="" />
            </mat-form-field>
            <mat-label for="sexo">Seleccione su sexo: </mat-label>
            <mat-radio-group formControlName="sexo" style="color: black;" class="sexo">
                <mat-radio-button value="masculino">
                    Masculino
                </mat-radio-button>
                <mat-radio-button value="femenino">
                    Femenino
                </mat-radio-button>
            </mat-radio-group>
            <mat-form-field>
                <mat-label for="paises">Seleccione el país: </mat-label>
                <mat-select formControlName="paises" class="">
                    <mat-option value="">Seleccione</mat-option>
                    <mat-option value="CO">Colombia</mat-option>
                    <mat-option value="AR">Argentina</mat-option>
                    <mat-option value="URU">Uruguay</mat-option>
                    <mat-option value="CH">Chile</mat-option>
                    <mat-option value="BO">Bolivia</mat-option>
                </mat-select>
            </mat-form-field>



            <div class="boton">
                <button mat-raised-button (click)="botonEnviar()">Enviar</button>
            </div>
        </mat-card-content>
    </mat-card>
</form>